<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <title>Match Data Viewer</title>
</head>
<body>
    <h1>Dota 2 Match Data Viewer</h1>
    <hr>
    <p>
        This tool fetches match data for DotA 2 matches and saves it.
    </p>
    <br>
    <div>
        <a href="/newmatches" class="nostyle">
            <div class="button">
                View New Matches
            </div>
        </a>
        <!-- <a href="/newmatchbyid">
            <div class="button">
                Find A New Match By ID
            </div>
        </a> -->
        <a href="/savedmatches" class="nostyle">
            <div class="button">
                View Saved Matches
            </div>
        </a>
        <!-- <a href="/savedmatchbyid">
            <div class="button">
                Find a Saved Match By ID
            </div>
        </a> -->
    </div>
</body>
</html>