<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <title>Saved Matches</title>
</head>
<body>
    <header>
        <a href="/">Home</a>
    </header>
    <h1>Saved Matches</h1>
    <hr>
    <p>
        If you aren't seeing your newly-saved matches, please wait a few seconds and refresh.
         The database takes a small amount of time to update
    </p>
    <%- matches_table %>
</body>
</html>